/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(/media/cursor.svg), pointer !important;
    font-family: 'Roboto', sans-serif;
    color: #232323;
}

/* CONTENT */
main {
    padding: 10vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 900;
    font-size: 80px;
}

p {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: .5em;
}

.icon-link {
    max-width: 24px;
    transition: all ease-in-out .3s;
}

.icon-link:hover {
    transform: scale(1.2) rotate(360deg);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 9vw;
    }
    p {
        font-size: 4vw;
    }
  }